<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nihaalg.iTimer2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iTimer2</string>
			</array>
		</dict>
	</array>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://brainspark1.github.io/itimer-2/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>FWtmrR9x3spKjU8TJOXV7/7V6Ab9ILEL5E8Y9aoF54U=</string>
</dict>
</plist>
